<div class="card-payment">
    @switch (payment.status) {
    @case(1){
    <p-tag [value]="'Próximo a pagar'" severity="warning"
        styleClass="p-2 text-center w-100 letter-spacing-large fs-medium"></p-tag>
    }
    @case(2){
    <p-tag [value]="'Pagado'" severity="success"
        styleClass="p-2 text-center w-100 letter-spacing-large fs-medium"></p-tag>
    }
    @case(3){
    <p-tag [value]="'Cancelado'" severity="danger"
        styleClass="p-2 text-center w-100 letter-spacing-large fs-medium"></p-tag>
    }
    }

    <div class="card-payment-body p-3">
        <div class="row mt-1">
            <div class="col-12 col-sm-6">
                <p class="roboto-bold fs-small m-1">Beneficiario: </p>
            </div>
            <div class="col-12 col-sm-6 d-sm-flex justify-content-end">
                <p-tag [value]="payment.employee.name + ' ' + payment.employee.last_name" severity="primary"
                    styleClass="ms-1"></p-tag>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12 col-sm-6">
                <p class="roboto-bold fs-small m-1">Fecha de pago: </p>
            </div>
            <div class="col-12 col-sm-6 d-sm-flex justify-content-end">
                <p-tag [value]="payment.payment_date_formatted" severity="primary" styleClass="small-tag"></p-tag>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12 col-sm-6">
                <p class="roboto-bold fs-small m-1">Monto a pagar: </p>
            </div>
            <div class="col-12 col-sm-6 d-sm-flex justify-content-end">
                <p-tag [value]="'$'+payment.recommendation.amount" severity="primary" styleClass="ms-1"></p-tag>
            </div>
        </div>
    </div>
</div>