<form role="form" #form="ngForm" class="mb-5">
    <div>
        <label for="user" class="roboto fs-small">Empleado</label>
        <br>
        <p-dropdown [options]="employees" id="id_employee" name="id_employee" optionLabel="full_name" optionValue="id"
            [filter]="true" filterBy="full_name" emptyFilterMessage="No se encontraron resultados" [showClear]="true"
            placeholder="Selecciona el empleado" styleClass="w-100 roboto" [(ngModel)]="select_id_employee"
            (ngModelChange)="onChangeEmployee()"
            (onClick)="setDialogHeight( select_id_employee > 0 ? 'auto' : '500px' )" (onHide)="setDialogHeight('auto')"
            [required]="true" #idEmployee="ngModel"></p-dropdown>
    </div>
    @if(select_id_employee > 0){
    <div class="mt-3">
        <div class="container-fluid p-0">
            <div class="row p-0">
                <div class="col-md-9">
                    <label for="user" class="roboto fs-small">Periodo vacacional</label>
                    <br>
                    <p-dropdown [options]="vacationTimesByEmployee" id="id_vacation_time" name="id_vacation_time"
                        [filter]="true" filterBy="period" emptyFilterMessage="No se encontraron resultados"
                        optionLabel="period" optionValue="id" [showClear]="true" placeholder="Selecciona el periodo"
                        styleClass="w-100 roboto" [(ngModel)]="config.data.entity.id_vacation_time"
                        (onClick)="setDialogHeight('800px')" (onHide)="setDialogHeight('auto')"
                        (ngModelChange)="onChangeVacationTime()" [required]="true"
                        #id_vacation_time="ngModel"></p-dropdown>
                </div>
                @if(config.data.entity.id_vacation_time > 0){
                <div class="col-md-3">
                    <label for="available_days" class="roboto fs-small">Dias restantes</label>
                    <br>
                    <p-tag [value]="select_vacation_time.available_days.toString()" [severity]="severityByAvailableDays"
                        styleClass="xl-tag"></p-tag>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="mt-3">
        <label for="user" class="roboto fs-small">Fecha de inicio</label>
        <br>
        <input pInputText type="date" id="start_date" name="start_date" class="p-inputtext-sm roboto w-100 fs-small"
            [(ngModel)]="config.data.entity.start_date" />

    </div>
    <div class="mt-3">
        <label for="user" class="roboto fs-small">Fecha final</label>
        <br>
        <input pInputText type="date" id="end_date" name="end_date" class="p-inputtext-sm roboto w-100 fs-small"
            [(ngModel)]="config.data.entity.end_date" />
    </div>
    }
</form>
<div class="d-flex justify-content-end mt-5">
    <div class="footer-dialog">
        <p-button icon="pi pi-times" label="Cancelar" [text]="true" severity="secondary"
            (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" [text]="true" [disabled]="form.invalid ?? false"
            (click)="save(config.data.entity)"></p-button>
        <!-- <p-button icon="pi pi-times" label="Cancelar" severity="secondary" size="small" (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" size="small" styleClass="ms-2"></p-button> -->
    </div>
</div>