<app-breadcrumb [icon]="icon" [module]="module" [prevLinks]="prevLinks" [activeLink]="activeLink"></app-breadcrumb>
<div class="bg-white rounded mt-4 p-4">
    <div class="d-flex align-items-center justify-content-between">
        <span class="roboto-bold text-secondary fs-5 mt-3">Datos</span>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            @for(entity of entities; track entity){
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <app-card-payment [payment]="entity" class="clickeable" (click)="openDialog(entity)"></app-card-payment>
            </div>
            }
        </div>
    </div>
</div>