#card-login {
    box-shadow: 0px 0px 7px 1px var(--primary-color);
    border-radius: 15px;
    background: linear-gradient(180deg, var(--primary-color) 30%, rgba(33, 150, 243, 0) 40%);
    padding: 3px;
}

#content-login {
    border-radius: 15px;
}

@media only screen and (min-width: 2000px) {
    #card-login {
        width: 25%;
    }

    #content-login {
        padding: 40px 50px 40px 50px;
    }
}

/* Large screen */
@media only screen and (min-width: 1025px) and (max-width: 1999px) {
    #card-login {
        width: 37%;
    }

    #content-login {
        padding: 40px 50px 40px 50px;
    }
}

/* Medium screen */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #card-login {
        width: 60%;
    }

    #content-login {
        padding: 40px 30px 40px 30px;
    }

}

/* Small screen */
@media only screen and (max-width: 767px) {
    #card-login {
        width: 90%;
    }

    #content-login {
        padding: 40px 25px 40px 25px;
    }

}