<app-breadcrumb [icon]="icon" [module]="module" [prevLinks]="prevLinks" [activeLink]="activeLink"></app-breadcrumb>
<div class="bg-white rounded mt-4 p-4">
    <div class="d-flex align-items-center justify-content-between">
        <span class="roboto-bold text-secondary fs-5 mt-3">Datos</span>
        <div class="d-flex justify-content-between">
            <p-button [icon]="showFilters ? 'pi pi-filter-slash' : 'pi pi-filter'" (click)="switchShowFilters()"
                [rounded]="true" size="small" severity="secondary"></p-button>
            <p-button icon="pi pi-plus" label="Nuevo" (click)="openDialog()" [rounded]="true" size="small"
                styleClass="ms-2"></p-button>
        </div>
    </div>
    @if(showFilters){
    <form role="form" #form="ngForm" (ngSubmit)="reload()" class="container-fluid mt-4">
        <div class="row p-0">
            <div class="col-md-2 p-0">
                <p-dropdown [options]="filterOptions" [(ngModel)]="selectedOption" id="selectOption" name="selectOption"
                    optionLabel="label" optionValue="property" placeholder="Selecciona"
                    styleClass="w-100 dropdown-filters-options">
                </p-dropdown>
            </div>
            <div class="col-md-9 p-0">
                <p-dropdown [options]="employees" id="id_employee" name="id_employee" optionLabel="full_name"
                    [filter]="true" filterBy="name" emptyFilterMessage="No se encontraron resultados" optionValue="id"
                    placeholder="Selecciona el empleado" styleClass="w-100 input-filters"
                    [(ngModel)]="filters['id_employee'].value" [hidden]="selectedOption !== 'id_employee'">
                </p-dropdown>

                <p-dropdown [options]="filterResultOptions" id="result" name="result" optionLabel="name"
                    optionValue="name" placeholder="Selecciona una opción" styleClass="w-100 input-filters"
                    [(ngModel)]="filters['result'].value" [hidden]="selectedOption !== 'result'">
                </p-dropdown>

                <input pInputText type="number" id="year" name="year" placeholder="Escriba el año"
                    class="w-100 input-filters" severity="info" [(ngModel)]="filters['year'].value"
                    [hidden]="selectedOption !== 'year'" />

                <p-calendar id="start_date" name="start_date" [iconDisplay]="'input'" [showIcon]="true"
                    inputStyleClass="w-100 input-filters" styleClass="w-100" [touchUI]="true"
                    [(ngModel)]="filters['start_date'].value" [hidden]="selectedOption !== 'start_date'"></p-calendar>

                <p-calendar id="end_date" name="end_date" [iconDisplay]="'input'" [showIcon]="true"
                    inputStyleClass="w-100 input-filters" styleClass="w-100" [touchUI]="true"
                    [(ngModel)]="filters['end_date'].value" [hidden]="selectedOption !== 'end_date'"></p-calendar>

            </div>
            <div class="col-md-1 p-0">
                <p-button icon="pi pi-search" severity="info" styleClass="w-100 button-filters"
                    (click)="this.reload()"></p-button>
            </div>
        </div>
    </form>
    }
    @if(entities.length > 0){
    <div class="container-fluid p-0">
        <div class="d-flex mt-3">
            <!-- <p-button icon="pi pi-file" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="me-2"></p-button>
                <p-button icon="pi pi-file-excel" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="me-2" severity="info"></p-button>
                <p-button icon="pi pi-file-excel" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="" severity="warning"></p-button> -->
            <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success me-2" pTooltip="XLS"
                tooltipPosition="bottom" (click)="xlsx()"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning" pTooltip="PDF"
                tooltipPosition="bottom" (click)="pdf()"></button>
            <!-- <button type="button" pButton pRipple [icon]="showFilters ? 'pi pi-filter-slash' : 'pi pi-filter'" class="p-button-info ms-auto"
                    pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
        </div>
        <div class="row">
            @for(entity of entities; track entity){
            <div class="col-12 col-md-6 col-lg-4 mt-4">
                <app-card-employee-file [cardTitle]="'Antidoping'" [id]="entity.id"
                    [image]="entity.employee.files.employee_image" [name]="entity.employee.full_name"
                    [date]="entity.createdAt_formatted"
                    [openFunction]="openDialog.bind(this, entity, 'Folio: ' + entity.id.toString())"
                    [deleteFunction]="delete.bind(this, entity.id)" class="clickeable"></app-card-employee-file>
            </div>
            }
        </div>
    </div>
    }
    @else{
    <p class="roboto fs-small fst-italic text-muted text-center mt-5">Sin resultados de busqueda...</p>
    }

</div>
<p-toast position="bottom-right" key="br"></p-toast>