<app-breadcrumb [icon]="icon" [module]="module" [prevLinks]="prevLinks" [activeLink]="activeLink"></app-breadcrumb>
<div class="bg-white rounded mt-4 p-4">
    <div class="d-flex align-items-center justify-content-between">
        <span class="roboto-bold text-secondary fs-5 mt-3">Datos</span>
        <p-button icon="pi pi-plus" label="Nuevo" (click)="openDialog('Create')" [rounded]="true"
            size="small"></p-button>
    </div>
    <p-table [value]="entities" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true" scrollHeight="800px"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-striped mt-3">
        <ng-template pTemplate="caption">
            <div class="d-flex">
                <!-- <p-button icon="pi pi-file" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="me-2"></p-button>
                <p-button icon="pi pi-file-excel" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="me-2" severity="info"></p-button>
                <p-button icon="pi pi-file-excel" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="" severity="warning"></p-button> -->

                <button type="button" pButton pRipple icon="pi pi-file" class="p-button-secondary me-2" pTooltip="CSV"
                    tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success me-2"
                    pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning" pTooltip="PDF"
                    tooltipPosition="bottom"></button>
                <!-- <button type="button" pButton pRipple icon="pi pi-filter" class="p-button-info ms-auto"
                    pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="employee">Empleado <p-sortIcon field="employee"></p-sortIcon></th>
                <th pSortableColumn="disease">Fecha de baja <p-sortIcon field="disease"></p-sortIcon></th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entity let-columns>
            <tr>
                <td>{{entity.employee}}</td>
                <td>{{entity.date}}</td>
                <td>
                    <div class="d-flex align-items-center justify-content-start">
                        <p-button styleClass="ms-2" icon="pi pi-list" [rounded]="true" [text]="true"
                            severity="info"></p-button>
                        <p-button styleClass="ms-2" icon="pi pi-trash" [rounded]="true" [text]="true"
                            severity="danger"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>