.custom-file-upload .p-fileupload-button {
    background-color: white !important; /* Establece el fondo blanco */
    color: black; /* Establece el color del texto en negro, si es necesario */
    border-color: black; /* Establece el color del borde, si es necesario */
}