<p-steps [model]="stepItems" [readonly]="false" [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)" styleClass="clickeable"></p-steps>

<form role="form" #formPersonal="ngForm" class="my-5 p-3" [hidden]="activeIndex !== 0">
    <span class="roboto-bold fs-medium text-secondary">Datos personales</span>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Nombre</label>
                <input pInputText type="text" id="name" name="name" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.name" required #name="ngModel" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Apellido Paterno</label>
                <input pInputText type="text" id="sure_name" name="sure_name"
                    class="p-inputtext-sm roboto w-100 fs-small" [(ngModel)]="config.data.entity.sure_name" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Apellido Materno</label>
                <input pInputText type="text" id="last_name" name="last_name"
                    class="p-inputtext-sm roboto w-100 fs-small" [(ngModel)]="config.data.entity.last_name" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Fecha de nacimiento</label>
                <input pInputText type="date" id="natal_date" name="natal_date"
                    class="p-inputtext-sm roboto w-100 fs-small" [(ngModel)]="config.data.entity.natal_date" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Genero</label>
                <br>
                <p-dropdown id="gender" name="gender"
                    [options]="[{name: 'Masculino', value: 'Male'}, {name: 'Femenino', value: 'Femen'}, {name: 'Otro', value: 'otro'}]"
                    optionLabel="name" optionValue="value" [showClear]="true" placeholder="Selecciona el género"
                    styleClass="w-100 roboto fs-small" [(ngModel)]="config.data.entity.gender"></p-dropdown>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">¿Tiene hijos?</label>
                <p-dropdown id="has_children" name="has_children"
                    [options]="[{name: 'Si', value: true}, {name: 'No', value: false}]" optionLabel="name"
                    optionValue="value" [showClear]="true" placeholder="Selecciona la ocpión" styleClass="w-100 roboto"
                    [(ngModel)]="config.data.entity.has_children"></p-dropdown>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Talla de camisa</label>
                <p-dropdown id="shirt_size" name="shirt_size"
                    [options]="[{name: 'CH'}, {name: 'M'},  {name: 'G'},  {name: 'EG'},  {name: '2EG'},  {name: '3EG'}]"
                    optionLabel="name" optionValue="name" [showClear]="true" placeholder="Selecciona la ocpión"
                    styleClass="w-100 roboto" [(ngModel)]="config.data.entity.shirt_size"></p-dropdown>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Talla de pantalón</label>
                <input pInputText type="number" id="pants_size" name="pants_size"
                    class="p-inputtext-sm roboto w-100 fs-small" [(ngModel)]="config.data.entity.pants_size" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Talla de zapatos</label>
                <input pInputText type="number" id="shoe_size" name="shoe_size"
                    class="p-inputtext-sm roboto w-100 fs-small" [(ngModel)]="config.data.entity.shoe_size" />
            </div>
        </div>
    </div>
</form>
<form role="form" #formContact="ngForm" class="my-5 p-3" [hidden]="activeIndex !== 1">
    <span class="roboto-bold fs-medium text-secondary">Datos de contacto y fiscales</span>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Teléfono</label>
                <input pInputText type="text" id="phone" name="phone" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.phone" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Email</label>
                <input pInputText type="text" id="email" name="email" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.email" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Domicilio</label>
                <input pInputText type="text" id="address" name="address" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.address" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Código Postal</label>
                <input pInputText type="text" id="cp" name="cp" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.cp" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">RFC</label>
                <input pInputText type="text" id="rfc" name="rfc" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.rfc" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">CURP</label>
                <input pInputText type="text" id="curp" name="curp" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.curp" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">NSS</label>
                <input pInputText type="text" id="nss" name="nss" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.nss" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">¿Dado de alta en SSP?</label>
                <p-dropdown id="ssp" name="ssp" [options]="[{name: 'Si', value: true}, {name: 'No', value: false}]"
                    optionLabel="name" optionValue="value" [showClear]="true" placeholder="Selecciona la ocpión"
                    styleClass="w-100 roboto" [(ngModel)]="config.data.entity.ssp"></p-dropdown>
            </div>
        </div>
    </div>
</form>
<form role="form" #formEnterprise="ngForm" class="my-5 p-3" [hidden]="activeIndex !== 2">
    <span class="roboto-bold fs-medium text-secondary">Datos de empresa</span>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Código</label>
                <input pInputText type="text" id="code" name="code" class="p-inputtext-sm roboto w-100 fs-small"
                    [(ngModel)]="config.data.entity.code" />
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Departamento</label>
                <p-dropdown id="id_department" name="id_department"
                    [options]="[{id: 1, name: 'IKA'}, { id: 1, name: 'YCC'}]" optionLabel="name" optionValue="id"
                    [showClear]="true" placeholder="Selecciona la ocpión" styleClass="w-100 roboto"
                    [(ngModel)]="config.data.entity.id_department"></p-dropdown>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Trabajo</label>
                <p-dropdown id="id_job" name="id_job" [options]="[{id: 8, name: 'Guardia de seguridad'}]"
                    optionLabel="name" optionValue="id" [showClear]="true" placeholder="Selecciona la ocpión"
                    styleClass="w-100 roboto" [(ngModel)]="config.data.entity.id_job"></p-dropdown>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="user" class="robotobold fs-small">Fecha de ingreso</label>
                <input pInputText type="date" id="entry_date" name="entry_date"
                    class="p-inputtext-sm roboto w-100 fs-small" [(ngModel)]="config.data.entity.entry_date" />
            </div>
            <div class="col-12 col-lg-12 mt-3">
                <label for="user" class="robotobold fs-small">Imagen QR</label>
                <p-fileUpload mode="advanced" chooseLabel="Choose" name="demo[]" accept="image/*"
                    [maxFileSize]="1000000" chooseIcon="pi pi-upload" styleClass="custom-file-upload"
                    [showUploadButton]="false"></p-fileUpload>
            </div>
        </div>
    </div>
</form>
<form class="my-5 p-3" [hidden]="activeIndex !== 3">
    <span class="roboto-bold fs-medium text-secondary">Archivos</span>
    <div class="container-fluid p-0 mb-5">
        <div class="row">
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Acta de nacimiento" [model]="menuItems"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Identificación Oficial" [model]="menuItems"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="CURP" [model]="menuItems"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="NSS" [model]="menuItems"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Comprobante domiciliario" [model]="menuItems"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Comprobante de estudios" [model]="menuItems"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Comprobante fiscal" [model]="menuItemsForNull"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Cartilla militar" [model]="menuItemsForNull"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Antecedentes penales" [model]="menuItemsForNull"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <p-splitButton label="Certificado médico" [model]="menuItemsForNull"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
            <div class="col-12 col-lg-4 mt-3 mb-3">
                <p-splitButton label="Seguro de vida" [model]="menuItemsForNull"
                    styleClass="p-button-raised p-button-secondary p-button-text mr-2 mb-2 w-100"
                    menuStyleClass="p-0 m-0 fs-small"></p-splitButton>
            </div>
        </div>
    </div>
</form>

<div class="d-flex justify-content-end">
    <div class="footer-dialog">
        <p-button icon="pi pi-times" label="Cancelar" [text]="true" severity="secondary"
            (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" [text]="true" [disabled]="(this.formPersonal.invalid ?? false) || 
        (this.formContact.invalid ?? false) || 
        (this.formEnterprise.invalid ?? false)" (click)="save(config.data.entity)"></p-button>
        <!-- <p-button icon="pi pi-times" label="Cancelar" severity="secondary" size="small" (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" size="small" styleClass="ms-2"></p-button> -->
    </div>
</div>