<app-breadcrumb [icon]="icon" [module]="module" [prevLinks]="prevLinks" [activeLink]="activeLink"></app-breadcrumb>
<div class="bg-white rounded mt-4 p-4">
    <div class="d-flex align-items-center justify-content-between">
        <span class="roboto-bold text-secondary fs-5 mt-3">Datos</span>
        <p-button icon="pi pi-plus" label="Nuevo" (click)="openDialog('Create')" [rounded]="true" size="small"></p-button>
    </div>
    <p-table [value]="entities" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true" scrollHeight="800px"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-striped mt-3">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th>Opciones</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entity let-columns>
            <tr>
                <td>{{entity.name}}</td>
                <td>
                    <div class="d-flex align-items-center justify-content-start">
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" 
                            severity="info"></p-button>
                        <p-button styleClass="ms-2" icon="pi pi-trash" [rounded]="true" [text]="true" 
                            severity="danger"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>