<form class="mb-5">
    <div>
        <label for="user" class="roboto fs-small">Empleado</label>
        <br>
        <p-dropdown [options]="employees" optionLabel="fullname" [showClear]="true" placeholder="Selecciona el empleado"
            styleClass="w-100 roboto"></p-dropdown>
    </div>
    <div class="mt-3">
        <label for="user" class="roboto fs-small">Fecha de inicio</label>
        <br>
        <input pInputText type="date" id="user" name="user" class="p-inputtext-sm roboto w-100 fs-small" />
    </div>
    <div class="mt-3">
        <label for="user" class="roboto fs-small">Fecha de finalización</label>
        <br>
        <input pInputText type="date" id="user" name="user" class="p-inputtext-sm roboto w-100 fs-small" />
    </div>

</form>
<div class="d-flex justify-content-end mt-5">
    <div class="footer-dialog">
        <p-button icon="pi pi-times" label="Cancelar" [text]="true" severity="secondary"
            (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" [text]="true"></p-button>
        <!-- <p-button icon="pi pi-times" label="Cancelar" severity="secondary" size="small" (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" size="small" styleClass="ms-2"></p-button> -->
    </div>
</div>