<app-breadcrumb [icon]="icon" [module]="module" [prevLinks]="prevLinks" [activeLink]="activeLink"></app-breadcrumb>
<div class="bg-white rounded mt-4 p-4">
    <div class="d-flex align-items-center justify-content-between">
        <span class="roboto-bold text-secondary fs-5 mt-3">Datos</span>
        <div class="d-flex justify-content-between">
            <p-button [icon]="showFilters ? 'pi pi-filter-slash' : 'pi pi-filter'" (click)="switchShowFilters()"
                [rounded]="true" size="small" severity="secondary"></p-button>
            <p-button icon="pi pi-plus" label="Nuevo" (click)="openDialog()" [rounded]="true" size="small"
                styleClass="ms-2"></p-button>
        </div>
    </div>
    @if(showFilters){
    <form role="form" #form="ngForm" (ngSubmit)="reload()" class="container-fluid mt-4">
        <div class="row p-0">
            <div class="col-md-2 p-0">
                <p-dropdown [options]="filterOptions" [(ngModel)]="selectedOption" id="selectOption" name="selectOption"
                    optionLabel="label" optionValue="property" placeholder="Selecciona"
                    styleClass="w-100 dropdown-filters-options">
                </p-dropdown>
            </div>
            <div class="col-md-9 p-0">
                @switch (selectedOption) {

                @case ("id_department") {
                <p-dropdown [options]="departments" id="id_department" name="id_department" optionLabel="name"
                    [filter]="true" filterBy="name" emptyFilterMessage="No se encontraron resultados" optionValue="id"
                    placeholder="Selecciona el departamento" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }
                @case ("id_job") {
                <p-dropdown [options]="jobs" id="id_job" name="id_job" optionLabel="name" [filter]="true"
                    filterBy="name" emptyFilterMessage="No se encontraron resultados" optionValue="id"
                    placeholder="Selecciona el trabajo" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }
                @case ("id_recruitment_method") {
                <p-dropdown [options]="recruitments" id="id_recruitment_method" name="id_recruitment_method"
                    optionLabel="name" [filter]="true" filterBy="name" emptyFilterMessage="No se encontraron resultados"
                    optionValue="id" placeholder="Selecciona el método de reclutamiento"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }
                @case ("code") {
                <input pInputText type="text" id="code" name="code" placeholder="Escriba el código"
                    class="w-100 input-filters" severity="info" [(ngModel)]="filters[selectedOption].value" />
                }
                @case ("name") {
                <input pInputText type="text" id="name" name="name" placeholder="Escriba el nombre"
                    class="w-100 input-filters" severity="info" [(ngModel)]="filters[selectedOption].value" />
                }
                @case ("sure_name") {
                <input pInputText type="text" id="sure_name" name="sure_name" placeholder="Escriba el apellido paterno"
                    class="w-100 input-filters" severity="info" [(ngModel)]="filters[selectedOption].value" />
                }
                @case ("last_name") {
                <input pInputText type="text" id="last_name" name="last_name" placeholder="Escriba el apellido materno"
                    class="w-100 input-filters" severity="info" [(ngModel)]="filters[selectedOption].value" />
                }
                @case("entry_start_date"){
                <p-calendar id="entry_start_date" name="entry_start_date" [iconDisplay]="'input'" [showIcon]="true"
                    inputStyleClass="w-100 input-filters" styleClass="w-100" [touchUI]="true"
                    [(ngModel)]="filters[selectedOption].value"></p-calendar>
                }
                @case("entry_end_date"){
                <p-calendar id="entry_end_date" name="entry_end_date" [iconDisplay]="'input'" [showIcon]="true"
                    inputStyleClass="w-100 input-filters" styleClass="w-100" [touchUI]="true"
                    [(ngModel)]="filters[selectedOption].value"></p-calendar>
                }
                @case ("status") {
                <p-dropdown [options]="[{name: 'Alta', value: 1}, {name: 'Baja', value: 0}, ]" id="status" name="status"
                    optionLabel="name" optionValue="value" placeholder="Selecciona el status"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }
                @case ("gender") {
                <p-dropdown
                    [options]="[{name: 'Masculino', value: 'Male'}, {name: 'Femenino', value: 'Femenino'}, {name: 'Otro', value: 'Otro'}]"
                    id="gender" name="gender" optionLabel="name" optionValue="value" placeholder="Selecciona el género"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }
                @case ("ssp") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="ssp" name="ssp"
                    optionLabel="name" optionValue="value" placeholder="Selecciona una opción"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }
                @case ("has_children") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_children"
                    name="has_children" optionLabel="name" optionValue="value" placeholder="Selecciona una opción"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }
                @case("natal_start_date"){
                <p-calendar id="natal_start_date" name="natal_start_date" [iconDisplay]="'input'" [showIcon]="true"
                    inputStyleClass="w-100 input-filters" styleClass="w-100" [touchUI]="true"
                    [(ngModel)]="filters[selectedOption].value"></p-calendar>
                }
                @case("natal_end_date"){
                <p-calendar id="natal_end_date" name="natal_end_date" [iconDisplay]="'input'" [showIcon]="true"
                    inputStyleClass="w-100 input-filters" styleClass="w-100" [touchUI]="true"
                    [(ngModel)]="filters[selectedOption].value"></p-calendar>
                }
                @case("has_birth_certificate") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_birth_certificate"
                    name="has_birth_certificate" optionLabel="name" optionValue="value"
                    placeholder="Selecciona una opción" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_identification") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_identification"
                    name="has_identification" optionLabel="name" optionValue="value" placeholder="Selecciona una opción"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_curp") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_curp" name="has_curp"
                    optionLabel="name" optionValue="value" placeholder="Selecciona una opción"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_nss") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_nss" name="has_nss"
                    optionLabel="name" optionValue="value" placeholder="Selecciona una opción"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_address_certification") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_address_certification"
                    name="has_address_certification" optionLabel="name" optionValue="value"
                    placeholder="Selecciona una opción" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_studies_certification") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_studies_certification"
                    name="has_studies_certification" optionLabel="name" optionValue="value"
                    placeholder="Selecciona una opción" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_tax_certificate") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_tax_certificate"
                    name="has_tax_certificate" optionLabel="name" optionValue="value"
                    placeholder="Selecciona una opción" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_smn") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_smn" name="has_smn"
                    optionLabel="name" optionValue="value" placeholder="Selecciona una opción"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_no_criminal_certificate") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]"
                    id="has_no_criminal_certificate" name="has_no_criminal_certificate" optionLabel="name"
                    optionValue="value" placeholder="Selecciona una opción" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_health_certificate") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_health_certificate"
                    name="has_health_certificate" optionLabel="name" optionValue="value"
                    placeholder="Selecciona una opción" styleClass="w-100 input-filters"
                    [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                @case("has_sv") {
                <p-dropdown [options]="[{name: 'Si', value: 1}, {name: 'No', value: 0}]" id="has_sv" name="has_sv"
                    optionLabel="name" optionValue="value" placeholder="Selecciona una opción"
                    styleClass="w-100 input-filters" [(ngModel)]="filters[selectedOption].value">
                </p-dropdown>
                }

                }
            </div>
            <div class="col-md-1 p-0">
                <p-button icon="pi pi-search" severity="info" styleClass="w-100 button-filters"
                    (click)="this.reload()"></p-button>
            </div>
        </div>
    </form>
    }
    <p-table [value]="entities" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-striped mt-5 custom-table">
        <ng-template pTemplate="caption">
            <div class="d-flex">
                <!-- <p-button icon="pi pi-file" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="me-2"></p-button>
                <p-button icon="pi pi-file-excel" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="me-2" severity="info"></p-button>
                <p-button icon="pi pi-file-excel" [rounded]="true" [outlined]="true" size="small" pTooltip="CSV"
                    tooltipPosition="bottom" class="" severity="warning"></p-button> -->
                <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-success me-2"
                    pTooltip="XLS" tooltipPosition="bottom" (click)="xlsx()"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning" pTooltip="PDF"
                    tooltipPosition="bottom" (click)="pdf()"></button>
                <!-- <button type="button" pButton pRipple [icon]="showFilters ? 'pi pi-filter-slash' : 'pi pi-filter'" class="p-button-info ms-auto"
                    pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="full_name">Nombre <p-sortIcon field="full_name"></p-sortIcon></th>
                <!-- <th pSortableColumn="area">Area <p-sortIcon field="area"></p-sortIcon></th> -->
                <th pSortableColumn="job.name">Puesto <p-sortIcon field="job"></p-sortIcon></th>
                <th pSortableColumn="department.name">Dpto. <p-sortIcon field="department"></p-sortIcon></th>
                <th pSortableColumn="entry_date">Fecha alta <p-sortIcon field="entry_date"></p-sortIcon></th>
                <th pSortableColumn="entry_month">Mes alta <p-sortIcon field="entry_month"></p-sortIcon></th>
                <th pSortableColumn="entry_year">Año alta <p-sortIcon field="entry_year"></p-sortIcon></th>
                <th pSortableColumn="status">Estatus <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="status">Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entity let-columns>
            <tr>
                <td>{{entity.code}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <p-avatar [image]="entity.files.employee_image" shape="circle"></p-avatar>
                        <span class="ms-3">{{entity.full_name}}</span>
                    </div>
                </td>
                <!-- <td>{{entity.area.name}}</td> -->
                <td>{{entity.job.name}}</td>
                <td>{{entity.department.name}}</td>
                <td>{{entity.entry_date_formatted}}</td>
                <td>{{entity.entry_month}}</td>
                <td>{{entity.entry_year}}</td>
                <td>
                    @if(entity.status){
                    <p-tag [value]="'Alta'" severity="success" styleClass="big-tag"></p-tag>
                    }
                    @else if(!entity.status){
                    <p-tag [value]="'Baja'" severity="danger" styleClass="big-tag"></p-tag>
                    }
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-start">
                        <p-button icon="pi pi-list" severity="info" [rounded]="true" size="small"
                            (click)="openDialog(entity, entity.full_name)"></p-button>
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" size="small" styleClass="ms-2"
                            (click)="delete(entity.id)"></p-button>
                    </div>
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast position="bottom-right" key="br"></p-toast>