<form role="form" #form="ngForm" class="mb-5">
    <div>
        <label for="id_employee" class="roboto fs-small">Empleado</label>
        <br>
        <p-dropdown [options]="employees" id="id_employee" name="id_employee" optionLabel="full_name" optionValue="id"
            [showClear]="true" placeholder="Selecciona el empleado" styleClass="w-100 roboto"
            [(ngModel)]="config.data.entity.id_employee" [required]="true" #id_employee="ngModel"></p-dropdown>
    </div>
    <div class="mt-3">
        <label for="type" class="roboto fs-small">Tipo</label>
        <br>
        <p-dropdown [options]="types" id="type" name="type" optionLabel="name" optionValue="value" [showClear]="true"
            placeholder="Selecciona el tipo" styleClass="w-100 roboto" [(ngModel)]="config.data.entity.type"
            [required]="true" #type="ngModel"></p-dropdown>
    </div>
    <div class="mt-3">
        <label for="delivered_date" class="roboto fs-small">Fecha de entrega</label>
        <br>
        <input pInputText type="date" id="delivered_date" name="delivered_date"
            class="p-inputtext-sm roboto w-100 fs-small" [(ngModel)]="config.data.entity.delivered_date" required
            #delivered_date="ngModel" />
    </div>
    <div class="mt-3 pb-5">
        <label for="comments" class="roboto fs-small">Comentarios</label>
        <br>
        <textarea pInputText type="text" id="comments" name="comments" class="p-inputtext-sm roboto w-100 fs-small"
            [(ngModel)]="config.data.entity.comments" #comments="ngModel"></textarea>
    </div>
</form>
<div class="d-flex justify-content-end mt-5">
    <div class="footer-dialog">
        <p-button icon="pi pi-times" label="Cancelar" [text]="true" severity="secondary"
            (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" [text]="true" [disabled]="form.invalid ?? false"
            (click)="save(config.data.entity)"></p-button>
        <!-- <p-button icon="pi pi-times" label="Cancelar" severity="secondary" size="small" (click)="closeDialog()"></p-button>
        <p-button icon="pi pi-save" label="Guardar" size="small" styleClass="ms-2"></p-button> -->
    </div>
</div>