<div class="container-fluid p-0">
    <div class="row">
        <div class="col-3 col-md-2">
            <p-tag [value]="'Empleado: '" severity="info" styleClass="w-100 big-tag"></p-tag>
        </div>
        <div class="col-12 col-md-8">
            <span class="roboto-bold fs-medium">{{config.data.employee.name}} {{config.data.employee.sure_name}}
                {{config.data.employee.last_name}}</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 col-md-2">
            <p-tag [value]="'Rango: '" severity="info" styleClass="w-100 big-tag"></p-tag>
        </div>
        <div class="col-12 col-md-8">
            <span class="roboto fs-medium"> Del <span class="roboto-bold">{{startDateFormatted}}</span> al <span
                    class="roboto-bold">{{endDateFormatted}}</span></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 col-md-2">
            <p-tag [value]="'Días (' + config.data.total +  '): '" severity="info" styleClass="w-100 big-tag"></p-tag>
        </div>
        <div class="col-12 col-md-8">
            <ul class="roboto fs-medium ms-3">
                @for(date of dates; track date){
                <li>{{ formatDate(date) }}</li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end mt-5">
    <div class="footer-dialog">
        <p-button icon="pi pi-times" label="Cerrar" [text]="true" severity="secondary"
            (click)="closeDialog()"></p-button>
    </div>
</div>