<app-breadcrumb [icon]="icon" [module]="module" [prevLinks]="prevLinks" [activeLink]="activeLink"></app-breadcrumb>
<div class="bg-white rounded mt-4 py-5 px-4">
    <!-- <div class="calendar">
        <div class="days-of-week pb-2 border-bottom">
            @for (day of daysOfWeek; track day) {
            <div class="day day-active roboto-bold">{{ day }}</div>
            }
        </div>
        <div class="days pt-2 text-center">
            @for (day of daysInMonth; track day.value) {
            <div class="day roboto"
                [ngClass]="{'day-active': day.currentMonth, 'day-inactive': !day.currentMonth, 'text-white': day.isToday, 'bg-secondary-color': day.isToday}">
                {{ day.value }}
            </div>
            }
        </div>
    </div> -->
    <div class="container-fluid ">
        <p-dropdown [options]="employees" id="id_employee" name="id_employee" optionLabel="full_name" [filter]="true"
            filterBy="full_name" emptyFilterMessage="No se encontraron resultados" optionValue="id"
            placeholder="Selecciona el empleado" styleClass="w-100" [(ngModel)]="select_id_employee"
            (ngModelChange)="onChangeEmployee()">
        </p-dropdown>
        @if(select_id_employee > 0){
        <div class="d-block d-md-flex justify-content-center align-items-center mt-4">
            <h3 class="roboto-bold text-secondary-color my-2 mx-3 text-center">PERIODO</h3>
            <p-dropdown [options]="vacationTimesByEmployee" id="id_vacation_time" name="id_vacation_time"
                [filter]="true" filterBy="period" emptyFilterMessage="No se encontraron resultados"
                optionLabel="period" optionValue="id" [showClear]="true" placeholder="Selecciona el periodo"
                styleClass="w-100 roboto" [(ngModel)]="select_id_vacation_time" (ngModelChange)="onChangeVacationTime()"
                [required]="true" #id_vacation_time="ngModel"></p-dropdown>
        </div>
        }
        @if(select_id_vacation_time > 0){
        <div class="d-block d-md-flex justify-content-center align-items-center mt-4">
            <div class="mx-md-5 my-1 text-center">
                <h5 class="roboto-bold text-muted fs-medium">Correspondientes</h5>
                <p-tag [value]="select_vacation_time.days.toString()" severity="primary" styleClass="xl-tag"></p-tag>
            </div>
            <div class="mx-md-5 my-1 text-center">
                <h5 class="roboto-bold text-muted fs-medium">Días Disponibles</h5>
                <p-tag [value]="select_vacation_time.available_days.toString()" [severity]="severityByAvailableDays"
                    styleClass="xl-tag"></p-tag>
            </div>
            <div class="mx-md-5 my-1 text-center">
                <h5 class="roboto-bold text-muted fs-medium">Días Utilizados</h5>
                <p-tag [value]="select_vacation_time.take_days.toString()" severity="success"
                    styleClass="xl-tag"></p-tag>
            </div>
        </div>
        <div class="row mt-4">
            @if(calendarMonths.length > 0){
            @for(calendar of calendarMonths; track calendar.month){
            <!-- <div class="col-12 col-md-4">
                            <p-calendar [responsiveOptions]="responsiveOptions" [inline]="true" [readonlyInput]="true"
                                [defaultDate]="calendar.startDate" view="date"></p-calendar>
                        </div> -->
            <div class="col-12 col-md-6 col-lg-4 mt-4 ">
                <div class="calendar border rounded overflow-x-auto">
                    <p class="text-primary-color roboto-bold fs-medium text-center w-100 border rounded p-2">
                        {{calendar.textDisplay}}</p>
                    <div class="days-of-week border-bottom pb-2 px-2">
                        @for (day of daysOfWeek; track day) {
                        <div class="day day-active roboto-bold">{{ day }}</div>
                        }
                    </div>
                    <div class="days text-center pt-2 px-2">
                        @for (day of calendar.daysInMonth; track day.value) {
                        <div class="day roboto fs-small"
                            [ngClass]="{'day-active': day.currentMonth, 'day-inactive': !day.currentMonth, 'bg-primary-color text-white roboto-bold': day.selected, 'fs-small': !day.selected }">
                            {{ day.value }}
                        </div>
                        }
                    </div>
                </div>
            </div>
            }
            }
            @else{
            <p class="text-center text-muted roboto fs-small">Sin fechas</p>
            }
        </div>
        }
    </div>

</div>