$primar-color-hover: rgba($color: #06B6D4, $alpha: 0.1);

#top-bar {
    top: 0;
    padding: 5px 20px 5px 55px;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0px 1px 8px 0px rgba($color: #8c8c8c, $alpha: 0.1);
    position: fixed;
    margin: 0 !important;
    z-index: 2;
}

.container-notifications {
    width: 50%;
    box-shadow: 0px 0px 1000px 1000px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: -10px;
    height: 545px;
    overflow-y: auto;
    animation: fadeIn 0.25s ease-in-out;
}

@media (min-width: 577px) and (max-width: 991px) {
    .container-notifications {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .container-notifications {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
        /* Empieza 20px arriba */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Termina en su posición normal */
    }
}