<div id="top-bar" class="bg-white">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-4 col-md-4">
                <img class="img-fluid" src="assets/images/logo-small.png">
            </div>
            <div class="col-1 col-md-3 d-flex align-items-center">
                <!-- <span id="icon-search" class="material-symbols-outlined fs-2">
                    search
                </span> -->
                <!-- <input type="search" id="input-search" class="w-100 poppins" placeholder="Search"> -->
            </div>
            <div class="col-7 col-md-5 d-flex align-items-center justify-content-end">
                <span class="roboto-bold text-primary-color fs-small">Gabriela Loyo</span>
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" pBadge value="4"
                    severity="danger" styleClass="ms-2 clickeable"></p-avatar>
            </div>
        </div>
    </div>
</div>