<div id="top-bar" class="bg-white">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-4 col-md-4">
                <img id="topbar-logo" class="img-fluid" src="assets/images/logo-small.png">
            </div>
            <div class="col-1 col-md-3 d-flex align-items-center">
                <!-- <span id="icon-search" class="material-symbols-outlined fs-2">
                    search
                </span> -->
                <!-- <input type="search" id="input-search" class="w-100 poppins" placeholder="Search"> -->
            </div>
            <div class="col-7 col-md-5 d-flex align-items-center justify-content-end">
                <span class="roboto-bold text-primary-color fs-small">{{currentUser.name}}</span>
                <p-avatar image="https://cdn-icons-png.freepik.com/512/3177/3177440.png" pBadge
                    [value]="unreadNotifications.toString()" severity="danger" styleClass="ms-2 clickeable"
                    (click)="switchShowNotifications()"></p-avatar>
            </div>
        </div>
        @if(showNotifications){
        <div class="d-flex justify-content-end">
            <div class="bg-white border container-notifications">
                @for(entity of notifications; track entity.id){
                <div class="d-flex align-items-center w-100 p-4 border-bottom clickeable"
                    [ngClass]="{'bg-primary-color-light': entity.status == false}" (click)="changeStatus(entity)">
                    @switch (entity.notification.id_notification_type) {
                    @case(1){
                    <div class="icon-tag icon-tag-large icon-tag-birthday">
                        <i class="pi pi-gift fs-2"></i>
                    </div>
                    }
                    @case(2){
                    <div class="icon-tag icon-tag-large icon-tag-payment">
                        <i class="pi pi-dollar fs-2"></i>
                    </div>
                    }
                    @case(3){
                    <div class="icon-tag icon-tag-large icon-tag-contract">
                        <i class="pi pi-book fs-2"></i>
                    </div>
                    }
                    }

                    <div class="w-100">
                        <div class="d-flex justify-content-between">
                            <span
                                class="roboto-bold text-muted fs-medium mx-2 p-0">{{entity.notification.title}}.</span>
                            <p class="roboto text-muted fs-xsmall my-0 p-0">{{entity.notification.date_formatted}}</p>
                        </div>
                        <p class="roboto text-muted fs-small mx-2 my-0 p-0">{{entity.notification.description}}</p>

                    </div>
                </div>
                }
            </div>
        </div>
        }

    </div>
</div>