@import "primeng/resources/themes/lara-light-cyan/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(assets/fonts/Roboto-Bold.ttf);
}

$primar-color-hover: rgba($color: #06B6D4, $alpha: 0.1);
$secondary-color: #1a1d2c;
$secondary-color-hover: #1a1d2c39;



body {
    // background-color: #F9FAFB !important;
    background-color: #f4f6f8 !important;
    padding: 0px !important;
    margin: 0px !important
}

.custom-table {
    box-shadow: 0px 1px 8px 0px rgba($color: #8c8c8c, $alpha: 0.3);
}

th {
    font-family: RobotoBold;
    font-size: 1em;

}

thead {
    z-index: 0;
}

ul,
li {
    padding: 0 !important;
    margin: 0 !important;
}

td {
    font-family: Roboto;
    border-bottom: 1px #e7e7e7 solid !important;
    font-size: .9em;
}

tr:nth-child(even) {
    background-color: #f3fdff;
}

tr:hover {
    background-color: #daf6fb;
}

* {
    text-decoration: none !important;
}

@layer reset, primeng;

@layer reset {
    button {
        border-radius: 6px !important;
    }
}

.fs-small {
    font-size: .9em;
}

.fs-medium {
    font-size: 1.1em;
}

.fs-large {
    font-size: 1.3em;
}


.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: $secondary-color;
}

.text-primary-color {
    color: var(--primary-color);
}

.roboto {
    font-family: Roboto;
}

.roboto-bold {
    font-family: RobotoBold;
}

.list-none {
    list-style: none;
}

.clickeable {
    cursor: pointer;
}

.footer-dialog {
    padding: 10px 0px 10px 0px;
    width: 90%;
    display: flex;
    justify-content: end;
    background-color: white;
    position: fixed;
    bottom: 0;
}

.text-gray {
    color: #ababab;
}

.letter-spacing-large {
    letter-spacing: 3px;
}

.big-tag {
    font-size: .9em;
    min-width: 40px;
    width: auto;
    height: 40px;
}

.p-dropdown-item,
.p-dropdown-empty-message {
    padding: 7px 7px 7px 18px !important;
}

.dropdown-filters-options {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}

.input-filters {
    border-radius: 0px;
    box-shadow: none;
}

.button-filters {
    box-shadow: none;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.reset-border-box-shadow {

    &:focus,
    &:hover {
        border-color: #E5E7EB !important;
        box-shadow: none !important;
    }
}

.image-preview {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-payment-body {
    background-image: url(assets/images/dollar-symbol.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}